html {
    scroll-behavior: smooth;
    height: 100%;
    
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', serif;
    /* prevent pull-to-refresh on Android devices (happened on Samsung/Chrome) */
    overscroll-behavior-y: contain;
}

#__next {
    height: 100%;
}

body {
    overflow: hidden;
    position: fixed;
    inset: 0;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
